#gamepad .military.knight-1-1 {
  background-image: url(../img/units/player-1/knight-1.png);
  background-position: 28px 25px;
}

#gamepad .military.knight-1-2 {
  background-image: url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png);
  background-position: 16px 25px, 40px 25px;
}

#gamepad .military.knight-1-3 {
  background-image: url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png);
  background-position: 16px 34px, 40px 34px, 28px 16px;
}

#gamepad .military.knight-1-4 {
  background-image: url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png);
  background-position: 16px 34px, 40px 34px, 16px 16px, 40px 16px;
}

#gamepad .military.knight-1-5 {
  background-image: url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png);
  background-position: 10px 25px, 20px 5px, 42px 8px, 45px 28px, 28px 42px;
}

#gamepad .military.knight-1-6 {
  background-image: url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png), url(../img/units/player-1/knight-1.png);
  background-position: 10px 32px, 45px 32px, 28px 42px, 10px 12px, 45px 12px, 28px 0px;
}

#gamepad .military.knight-2-1 {
  background-image: url(../img/units/player-2/knight-1.png);
  background-position: 28px 25px;
}

#gamepad .military.knight-2-2 {
  background-image: url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png);
  background-position: 16px 25px, 40px 25px;
}

#gamepad .military.knight-2-3 {
  background-image: url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png);
  background-position: 16px 34px, 40px 34px, 28px 16px;
}

#gamepad .military.knight-2-4 {
  background-image: url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png);
  background-position: 16px 34px, 40px 34px, 16px 16px, 40px 16px;
}

#gamepad .military.knight-2-5 {
  background-image: url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png);
  background-position: 10px 25px, 20px 5px, 42px 8px, 45px 28px, 28px 42px;
}

#gamepad .military.knight-2-6 {
  background-image: url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png), url(../img/units/player-2/knight-1.png);
  background-position: 10px 32px, 45px 32px, 28px 42px, 10px 12px, 45px 12px, 28px 0px;
}

#gamepad .military.archer-1-1 {
  background-image: url(../img/units/player-1/archer-1.png);
  background-position: 28px 25px;
}

#gamepad .military.archer-1-2 {
  background-image: url(../img/units/player-1/archer-1.png), url(../img/units/player-2/archer-1.png);
  background-position: 16px 25px, 40px 25px;
}

#gamepad .military.archer-1-3 {
  background-image: url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png);
  background-position: 16px 34px, 40px 34px, 28px 16px;
}

#gamepad .military.archer-1-4 {
  background-image: url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png);
  background-position: 16px 34px, 40px 34px, 16px 16px, 40px 16px;
}

#gamepad .military.archer-1-5 {
  background-image: url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png);
  background-position: 10px 25px, 20px 5px, 42px 8px, 45px 28px, 28px 42px;
}

#gamepad .military.archer-1-6 {
  background-image: url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png), url(../img/units/player-1/archer-1.png);
  background-position: 10px 32px, 45px 32px, 28px 42px, 10px 12px, 45px 12px, 28px 0px;
}

#gamepad .military.archer-2-1 {
  background-image: url(../img/units/player-2/archer-1.png);
  background-position: 28px 25px;
}

#gamepad .military.archer-2-2 {
  background-image: url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png);
  background-position: 16px 25px, 40px 25px;
}

#gamepad .military.archer-2-3 {
  background-image: url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png);
  background-position: 16px 34px, 40px 34px, 28px 16px;
}

#gamepad .military.archer-2-4 {
  background-image: url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png);
  background-position: 16px 34px, 40px 34px, 16px 16px, 40px 16px;
}

#gamepad .military.archer-2-5 {
  background-image: url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png);
  background-position: 10px 25px, 20px 5px, 42px 8px, 45px 28px, 28px 42px;
}

#gamepad .military.archer-2-6 {
  background-image: url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png), url(../img/units/player-2/archer-1.png);
  background-position: 10px 32px, 45px 32px, 28px 42px, 10px 12px, 45px 12px, 28px 0px;
}

#gamepad .military.rider-1-1 {
  background-image: url(../img/units/player-1/rider-1.png);
  background-position: 8px 5px;
}

#gamepad .military.rider-1-2 {
  background-image: url(../img/units/player-1/rider-1.png), url(../img/units/player-1/rider-1.png);
  background-position: -5px 5px, 20px 5px;
}

#gamepad .military.rider-1-3 {
  background-image: url(../img/units/player-1/rider-1.png), url(../img/units/player-1/rider-1.png), url(../img/units/player-1/rider-1.png);
  background-position: -5px 10px, 20px 10px, 8px -5px;
}

#gamepad .military.rider-2-1 {
  background-image: url(../img/units/player-1/rider-1.png);
  background-position: 8px 5px;
}

#gamepad .military.rider-2-2 {
  background-image: url(../img/units/player-2/rider-1.png), url(../img/units/player-2/rider-1.png);
  background-position: -5px 5px, 20px 5px;
}

#gamepad .military.rider-2-3 {
  background-image: url(../img/units/player-2/rider-1.png), url(../img/units/player-2/rider-1.png), url(../img/units/player-2/rider-1.png);
  background-position: -5px 10px, 20px 10px, 8px -5px;
}

#gamepad .health {
  padding: 60px 0 0 15px;
  width: 60px;
  height: 4px;
  z-index: 10;
  text-align: center;
}

#gamepad .health .unit-health {
  display: inline-block;
  margin-right: 1px;
  border: 1px black solid;
  height: 2px;
  width: 6px;
  box-shadow: inset 6px 0 0 0 #0f0;
}

#gamepad .health .unit-health:first-child {
  margin-left: auto;
}

#gamepad .health .unit-health:last-child {
  margin-right: auto;
}
